/*!
Theme Name: Chiropody
Description: This theme is solely for the use of Chiropody
Version: 1.0
Text Domain: Chiropody
 */
/* Add fonts after this line */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebasneue-bold-webfont.woff2') format('woff2'),
    url('fonts/bebasneue-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.clearfix:after, .container:after, .site-main:after, .primary-menu:after, .menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix, .container, .site-main, .primary-menu, .menu {
    display: inline-block;
}

* html .clearfix, * html .container, * html .site-main, * html .primary-menu, * html .menu {
    height: 1%;
}

.clearfix, .container, .site-main, .primary-menu, .menu {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    clear: both;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    margin: 0 0 20px;
    font-family: 'bebas_neuebold', sans-serif;
    letter-spacing: 1.5px;
    color: #b01b1f;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
}

h1, .h1 {
    font-size: 54px;
    line-height: 1;
    letter-spacing: 3.5px;
}

h2, .h2 {
    font-size: 48px;
}

h3, .h3 {
    font-size: 36px;
}

h4, .h4 {
    font-size: 32px;
}

h5, .h5 {
    font-size: 24px;
}

h6, .h6 {
    font-size: 20px;
}

p {
    margin: 0 0 20px;
    line-height: 1.8em;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover,
a:focus,
a:active,
a:visited {
    color: #b01b1f;
    text-decoration: none;
}

a:focus {
    outline: none;
}

address {
    font-style: normal;
    line-height: 1.2em;
    margin: 0 0 10px;
    color: #000000;
    font-size: 16px;
}

blockquote {
    border: 0 none;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2em;
    margin: 0;
    padding-left: 0;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

menu, ol, ul {
    margin: 0 0 10px 18px;
    padding: 0;
}

ul {
    list-style-type: disc;
}

ul li {
    line-height: 1.3em;
    margin: 0 0 8px;
}

b, strong {
    font-weight: bold;
}

/*Loader Style*/
.page-loader {
    position: fixed;
    z-index: 99;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.page-loader .loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
}

a.disable-link {
    pointer-events: none;
    cursor: default;
}

/* Transition Style */
.line-separator:before,
a.icon-video,
.btn,
button,
.product-card {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

/* Layout */
.site {
    position: relative;
}

body.home .site {
    overflow: hidden;
}

.container {
    position: relative;
}

.bg-grey {
    background-color: #e5e5e5;
}

.font-weight-extrabold {
    font-weight: 800;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
    position: relative;
    min-height: 200px;
    border-top: solid 18px #b01b1f;
}

.site-header-main-wrap {
    padding: 45px 0;
}

body.home .site-header-main-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}

.site-header-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.site-logo {
    margin-bottom: 35px;
    display: inline-block;
    width: 360px;
}

.slider-content-wrap .site-logo {
    width: 255px;
}

.site-header-main .social-link {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-primary-menu-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.primary-menu {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.primary-menu li {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.primary-menu li a {
    font-family: 'bebas_neuebold', sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 25px 8px;
    border: solid 2px transparent;
    color: #000000;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.primary-menu li a:hover,
.primary-menu li a:focus {
    color: #b01b1f;
}

.primary-menu li.current-menu-item a {
    border-color: #b01b1f;
}

body.home .primary-menu li a {
    color: #fff;
}

body.home .primary-menu li a:hover,
body.home .primary-menu li a:focus {
    color: #fff;
}

body.home .primary-menu li.current-menu-item a {
    border-color: #fff;
}

/*  OVERLAY
    ========================================== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
}

.overlay.show {
    opacity: 0.5;
    visibility: visible;
}

/*  BURGER
========================================== */
.burger {
    position: relative;
    z-index: 999999;
    cursor: pointer;
    width: 30px;
    height: 24px;
    display: none;
    margin-left: auto;
    padding: 0;
    background: none;
    border: 0 none;
    color: #fff;
}

.burger:hover,
.burger:focus {
    background-color: transparent;
}

.burger span {
    width: 30px;
    height: 3px;
    margin: 10px 0;
    position: relative;
    border-top: 3px solid #000;
    display: block;
    transition: all 0.2s ease-in-out;
}

body.home .burger span {
    border-top-color: #fff;
}

.burger span:before, .burger span:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    transition: all 0.2s ease-in-out;
}

body.home .burger span:before,
body.home .burger span:after {
    background-color: #fff;
}

.burger span:before {
    top: -11px;
}

.burger span:after {
    top: 5px;
}

.burger.clicked span,
body.home .burger.clicked span {
    border-top-color: transparent;
}

.burger.clicked span:before, .burger.clicked span:after {
    background-color: #fff;
}

.burger.clicked span:before {
    -webkit-transform: translateY(7px) rotate(45deg);
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}

.burger.clicked span:after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

/*Banner and slider style*/
.responsive-slider.flexslider {
    margin-bottom: 0;
}

.responsive-slider.flexslider .slide {
    min-height: 800px;
    padding-top: 150px;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: column;
    flex-direction: column;

    -ms-flex-pack: center;
    justify-content: center;
}

.slider-content-wrap {
    text-align: center;
}

.flexslider .slides img {
    display: inline-block;
}

.slider-content-wrap h1,
.slider-content-wrap h5 {
    color: #fff;
}

.slider-content-wrap h1 {
    margin-bottom: 10px;
    font-size: 90px;
    letter-spacing: 15px;
}

.slider-content-wrap h5 {
    margin-bottom: 15px;
    font-size: 26px;
    letter-spacing: 4px;
}

.slider-content-wrap a {
    color: #fff;
}

.slider-content-wrap a:hover,
.slider-content-wrap a:focus {
    color: #b01b1f;
}

.has-contact-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.has-contact-btn a {
    font-family: 'bebas_neuebold', sans-serif;
    background-color: #b01b1f;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 5px 10px;
    text-decoration: none;
}

.has-contact-btn a .fa {
    margin-right: 4px;
}

.has-contact-btn a:hover,
.has-contact-btn a:focus {
    color: #fff;
}

.site-banner {
    min-height: 400px;
    padding: 50px 0;
    text-align: center;
}

/*Different size images set in Equal block height and width*/
.grid-equal,
.banner-equal {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    width: 100%;
    overflow: hidden;
}

.grid-equal-lg {
    padding-bottom: 90%;
}

.grid-equal-sm {
    padding-bottom: 50%;
}

.banner-equal {
    padding-bottom: 36%;
}

.grid-cover,
.banner-cover,
.grid-cover-inner {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid-cover-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.grid-cover > img,
.banner-cover > img {
    height: auto !important;
    max-width: 100% !important;
    min-height: 100% !important;
    object-fit: cover;
    width: 100% !important;
}

.bg-img-cover,
.background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-cover {
    display: block;
    height: 100%;
    width: 100%;
}

.background-image {
    position: relative;
}

.background-image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.background-image > * {
    position: relative;
    z-index: 3;
}

/*Social link Style*/
.social-link {
    list-style: none;
    margin-left: -4px !important;
    margin-right: -4px !important;
    overflow: hidden;
}

.social-link li {
    display: inline-block;
    vertical-align: top;
    margin: 4px 0;
    padding: 0 4px;
}

.social-link li a {
    font-size: 26px;
    border: solid 2px #000000;
    color: #000000;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-decoration: none;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-link li a:hover,
.social-link li a:focus {
    background-color: #000000;
    color: #fff;
}

.social-link-white li a,
body.home .site-header-main .social-link li a {
    border-color: #fff;
    color: #fff;
}

.social-link-white li a:hover,
.social-link-white li a:focus,
body.home .site-header-main .social-link li a:hover,
body.home .site-header-main .social-link li a:focus {
    background-color: #fff;
    color: #000000;
}

/* Forms */
form {
    position: relative;
    margin-bottom: 15px;
}

form p br {
    display: none;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #000000;
}

.wpcf7-form-control-wrap {
    margin-bottom: 30px;
    display: block;
}

.wpcf7-not-valid-tip {
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    background: #fff;
    border: solid 1px #b1b1b1;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    padding: 13px 20px;
    line-height: 1.2;
    height: auto;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    outline: none;
    outline-offset: 0;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 240px;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #b01b1f;
    border: 0 none;
    color: #FFF;
    font-family: 'bebas_neuebold', sans-serif;
    font-size: 26px;
    font-weight: normal;
    display: inline-block;
    letter-spacing: 5px;
    line-height: 1.42;
    padding: 10px 30px 12px;
    text-transform: uppercase;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:visited,
button:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    background: #000000;
    color: #fff;
    outline: none;
    outline-offset: 0;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
    color: #000000;
}

:-moz-placeholder {
    font-family: "Lato", sans-serif;
    color: #000000;
}

::-moz-placeholder {
    font-family: "Lato", sans-serif;
    color: #000000;
}

:-ms-input-placeholder {
    font-family: "Lato", sans-serif;
    color: #000000;
}

.btn {
    text-decoration: none;
    font-weight: normal;
    padding: 8px 25px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'bebas_neuebold', sans-serif;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 15px 30px;
    font-size: 20px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    color: #fff !important;
    background-color: #b01b1f !important;
    border-color: #b01b1f !important;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(42, 60, 97, 0.5);
}

.btn-outline-primary {
    color: #000000 !important;
    border-color: #000000 !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: #fff !important;
    background-color: #1a2a49 !important;
    border-color: #1a2a49 !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(42, 60, 97, 0.5);
}

.btn-outline-white {
    color: #fff !important;
    border-color: #fff !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.btn-outline-white:hover,
.btn-outline-white:focus {
    color: #1a2a49 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-red {
    border-color: #fff !important;
    background: #b01b1f !important;
    color: #fff !important;
}

.btn-red:hover,
.btn-red:focus {
    background: #fff !important;
    color: #b01b1f !important;
}

.border-2 {
    border-width: 2px !important;
}

/* Entry Style */
.entry-title, .sec-title {
    color: #b01b1f;
    font-family: "bebas_neuebold", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 54px;
    line-height: 1;
    position: relative;
    margin-bottom: 20px;
}

/* 404 Page Style */
.icon-not-found {
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    width: 100px;
    background-color: #000000;
    margin-bottom: 30px;
    color: #fff;
    border-radius: 50%;
}

/* Custom Style */
.site-content,
.site-section {
    padding: 50px 0;
}

body.home .site-content {
    padding-bottom: 0;
}

.sec-title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.border-tb-section {
    border-top: solid 8px #b01b1f;
    border-bottom: solid 8px #b01b1f;
}

.max-w800 {
    max-width: 800px;
    margin: 0 auto;
}

.sec-title:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #7a7a7a;
    width: 35px;
    height: 2px;
    margin: 0 auto;
}

.service-list {
    position: relative;
}

.service-item {
    border: solid 1px #000000;
    padding: 18px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.service-item-content {
    padding: 0 20px;
    order: 1;
}

.service-item-thumb {
    margin-left: 20px;
    order: 2;
}

.service-item-thumb img {
    width: 100%;
}

.service-card {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.service-thumb {
    position: relative;
}

.service-thumb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    color: #fff;
}

.service-thumb img {
    width: 100%;
}

.service-card-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 20px;
}

.service-card-content .service-card-title {
    color: #fff;
    margin-bottom: 10px;
}

.service-card-content .service-card-title a,
.service-card-hover-content .service-card-title a,
.service-card-hover-content a,
.service-card-content .service-card-title a:hover,
.service-card-hover-content .service-card-title a:hover,
.service-card-hover-content a:hover,
.service-card-content .service-card-title a:focus,
.service-card-hover-content .service-card-title a:focus,
.service-card-hover-content a:focus {
    color: #fff;
}

.service-card-hover-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    padding: 20px 35px;
    background-color: #b01b1f;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    transform: translateY(100%);
}

.service-card-hover-content .service-card-title {
    font-size: 20px;
    border-bottom: solid 1px #ffffff30;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.service-card-hover-content .service-card-title a {
    text-decoration: underline;
}

.service-card:hover .service-card-hover-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.site-section-testimonial {
    background-color: #850809;
    color: #fff;
    text-align: center;
}

.site-section-testimonial h1,
.site-section-testimonial h6 {
    color: #fff;
}

.user-icon {
    margin-bottom: 35px;
}

.site-section-testimonial h6 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.owl-theme .owl-dots .owl-dot span {
    border: solid 2px #ffffff70;
    background-color: transparent;
    margin: 3px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}

.news-list {
    position: relative;
}

.news-item {
    position: relative;
    margin-bottom: 50px;
}

.news-item-thumb {
    margin-bottom: 30px;
}

.news-item-thumb img {
    width: 100%;
}

.news-item-title {
    margin-bottom: 10px;
}

.news-item-content .time {
    margin-bottom: 20px;
    display: block;
}

.news-item-content .time .fa {
    color: #b01b1f;
    margin-right: 6px;
}

.misha_loadmore {
    background-color: #bdb9b9;
    color: #fff;
    font-family: 'bebas_neuebold', sans-serif;
    padding: 12px 20px;
    width: 190px;
    margin: 50px auto 30px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1;
}

.misha_loadmore:hover,
.misha_loadmore:focus {
    background: #000000;
    color: #fff;
}

.has-contact {
    font-size: 20px;
    font-weight: 900;
}

.has-contact a {
    color: #b01b1f;
}

.has-contact a:hover,
.has-contact a:focus {
    color: #000000;
}

.shoes-view {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
}

/* Site footer */
.site-footer {
    font-size: 18px;
    font-weight: 400;
    background: #000000;
    color: #fff;
    padding: 0;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer a:hover,
.site-footer a:focus {
    color: #b01b1f;
}

.site-footer p {
    line-height: 1.25;
}

.site-footer-primary {
    padding: 90px 0;
    text-align: center;
}

.site-footer-secondary {
    padding: 40px 0;
    text-align: center;
    background: #3a3a3a;
    color: #fff;
}

.site-footer-secondary p {
    margin-bottom: 0;
}

.footer-site-logo {
	width:170px;
	display: inline-block;
}
/* Media */

@media only screen and (min-width: 1600px) {

    .site-header-main-wrap .container {
        max-width: 1440px;
    }
}

@media only screen and (min-width: 1920px) {

    .site-header-main-wrap .container {
        max-width: 1740px;
    }
}

@media only screen and (max-width: 1199px) {

    h1, .h1 {
        font-size: 42px;
        line-height: 1;
    }

    h2, .h2 {
        font-size: 36px;
    }

    h3, .h3 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 991px) {

    h1, .h1 {
        font-size: 36px;
        line-height: 1;
    }

    h2, .h2 {
        font-size: 30px;
    }

    h3, .h3 {
        font-size: 28px;
    }

    h4, .h4 {
        font-size: 24px;
    }

    h5, .h5 {
        font-size: 22px;
    }

    h6, .h6 {
        font-size: 18px;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: 10px;
    }

    .site-header {
        border-top-width: 10px;
    }

    .site-header-main-wrap {
        padding: 20px 0;
    }

    .has-contact-btn a {
        padding: 8px 20px;
        font-size: 18px;
    }

    .site-banner {
        padding: 25px 0;
        min-height: 340px;
    }

    /* Resposnive Menu Start */
    .burger {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .main-navigation {
        background-color: #1a2a49;
        padding-top: 80px;
        position: fixed;
        z-index: 99999;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 500px;
        width: 80%;
        overflow: hidden;
        overflow-y: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    .main-navigation.show {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }

    .primary-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .primary-menu li {
        border-bottom: solid 1px #344463;
        padding: 0;

        -webkit-transform: translateX(40px);
        -moz-transform: translateX(40px);
        -ms-transform: translateX(40px);
        -o-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .primary-menu li a {
        padding: 16px 20px;
        font-size: 15px;
        display: block;
        width: 100%;
        border: 0 none;
        color: #fff;

        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    body.home .primary-menu li a {
        color: #fff;
    }

    .primary-menu li a:hover,
    .primary-menu li a:focus,
    .primary-menu li.current-menu-item a,
    body.home .primary-menu li a:hover,
    body.home .primary-menu li a:focus,
    body.home .primary-menu li.current-menu-item a {
        color: #b01b1f;
    }

    .main-navigation.show .primary-menu li  {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }

    .main-navigation.show .primary-menu li:nth-child(1) {
        -webkit-transition-delay: 0.15s;
        -moz-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    .main-navigation.show .primary-menu li:nth-child(2) {
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .main-navigation.show .primary-menu li:nth-child(3) {
        -webkit-transition-delay: 0.45s;
        -moz-transition-delay: 0.45s;
        -o-transition-delay: 0.45s;
        transition-delay: 0.45s;
    }

    .main-navigation.show .primary-menu li:nth-child(4) {
        -webkit-transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }

    .main-navigation.show .primary-menu li:nth-child(5) {
        -webkit-transition-delay: 0.75s;
        -moz-transition-delay: 0.75s;
        -o-transition-delay: 0.75s;
        transition-delay: 0.75s;
    }

    .main-navigation.show .primary-menu li:nth-child(6) {
        -webkit-transition-delay: 0.9s;
        -moz-transition-delay: 0.9s;
        -o-transition-delay: 0.9s;
        transition-delay: 0.9s;
    }

    .main-navigation.show .primary-menu li:nth-child(7) {
        -webkit-transition-delay: 1.05s;
        -moz-transition-delay: 1.05s;
        -o-transition-delay: 1.05s;
        transition-delay: 1.05s;
    }

    .main-navigation.show .primary-menu li:nth-child(8) {
        -webkit-transition-delay: 1.2s;
        -moz-transition-delay: 1.2s;
        -o-transition-delay: 1.2s;
        transition-delay: 1.2s;
    }

    .main-navigation.show .primary-menu li:nth-child(9) {
        -webkit-transition-delay: 1.35s;
        -moz-transition-delay: 1.35s;
        -o-transition-delay: 1.35s;
        transition-delay: 1.35s;
    }
    /* Resposnive Menu End */

    .responsive-slider.flexslider .slide {
        min-height: 700px;
        padding-top: 100px;
    }

    .slider-content-wrap h1 {
        font-size: 50px;
        letter-spacing: 10px;
    }

    .slider-content-wrap h5 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .entry-title, .sec-title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .sec-title {
        padding-bottom: 15px;
    }

    .site-content {
        padding: 40px 0;
    }

    .site-section {
        padding: 25px 0;
    }

    p {
        margin-bottom: 12px;
    }

    .site-footer {
        font-size: 16px;
    }

    .site-footer-primary {
        padding: 30px 0;
    }

    .site-footer-secondary {
        padding: 15px 0;
    }

    .news-item {
        margin-bottom: 30px;
    }

    .service-item {
        margin-bottom: 20px;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .service-item-content {
        padding: 0;
        order: 2;
        width: 100%;
    }

    .service-item-thumb {
        order: 1;
        margin-left: 0;
        margin-bottom: 16px;
        width: 100%;
    }

    .news-item-thumb,
    .news-item-content .time {
        margin-bottom: 15px;
    }

    .misha_loadmore {
        width: 150px;
        margin: 30px auto 10px;
    }

    .site-header-main .has-contact-btn a {
        margin-bottom: 0;
        padding: 6px 14px;
    }
}

@media only screen and (max-width: 767px) {

    h1, .h1 {
        font-size: 32px;
        line-height: 1;
    }

    h2, .h2 {
        font-size: 26px;
    }

    h3, .h3 {
        font-size: 24px;
    }

    .wpcf7-form-control-wrap {
        margin-bottom: 20px;
    }

    textarea {
        height: 120px;
    }

    .slider-content-wrap h1 {
        font-size: 40px;
        letter-spacing: 6px;
    }

    .slider-content-wrap .has-contact-btn {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .entry-title, .sec-title {
        font-size: 30px;
    }

    .has-contact-btn-page {
        -ms-flex-direction: column;
        flex-direction: column;;
    }
}

@media only screen and (max-width: 575px) {
    a.disable-link {
        cursor: pointer;
        pointer-events: inherit;
    }

    .button,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        font-size: 20px;
        padding: 8px 25px 9px;
    }

    .has-contact-btn a {
        font-size: 15px;
    }

    .site-section-testimonial + .site-section {
        padding-bottom: 0;
    }

    .site-banner {
        min-height: 260px;
    }

    .site-logo {
        width: 250px;
    }

    .slider-content-wrap .site-logo {
        width: 200px;
    }
}

@media only screen and (max-width: 479px) {
    .col-full {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    form {
        margin-bottom: 0;
    }
}

